<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Welcome <%= current_agent.name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <% if agent_signed_in? %>
      <li class="nav-item right">
        <%= link_to('Logout', destroy_agent_session_path, method: :delete, class: "nav-link") %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
